
body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(assets/pizzafront.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
/*CSS to mainpage content that means the text you see in the middle*/
.MainPageContent {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
/*Position the h1 tag on mainpage*/
    .MainPageContent h1 {
        font-size: 70px;
        margin-top: 80px;
    }
/*Position the p tag on mainpage*/
    .MainPageContent p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
    }
/*The two aqua color buttons is here where i style*/
.MainPagebutton {
    font: bold 11px Arial;
    text-decoration: none !important;
    background-color: #009688;
    color: #fff;
    padding: 6px 24px 6px 24px;
    border-top: 10px solid #009688;
    border-right: 10px solid #009688;
    border-bottom: 10px solid #009688;
    border-left: 10px solid #009688;
    border-radius: 10px;
}
/*Position the navbar to display flex that means side by side*/
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Logo styling*/
.logo {
    width: 200px;
    cursor: pointer;
}
/*Style the list inside our navbar*/
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
/*Style the a tags inside the list*/
    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
/*Made som after and hover effects to when the mouse is on the Menu button its slides a blue line under the a tag and moves away when the cursor is away from a tag*/
    .navbar ul li::after {
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }

    .navbar ul li:hover::after {
        width: 100%;
    }
/*Inside the menugrid i have added the background color black but its not full on black, on the rgba the last digit is opacity thats transparent*/
#MenuGrid {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
}
/*Making div menucontent 100% width*/
.Menucontent
{
    width:100%;
}
/*Style to addtocart button in menu, it has a border and white text*/
.AddToCartBtn {
    background-color: #009688;
    border: 2px solid #009688;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
/*The delete button in Cart site is very close to the addtocart button*/
.delBtn {
    background-color: #009688;
    border: 2px solid #009688;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    width: 35%;
 
}
/*Style to the CartGrid in cart side the same as menugrid*/
#grid {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
}
/*Styling to the checkout button very similair to the other buttons*/
.chkBtn {
    background-color: #009688;
    border: 2px solid #009688;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    width: 7%;
    margin-left:495px;
}
/*Styling to the totalprice in cart site*/
.totalpricecart {
    background-color: rgba(255,255,255.0,36);
    border: 2px solid rgba(0,0,0,0.75);
    color: rgba(0,0,0,0.75);
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 495px;
}
/*position the login div*/
.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
/*Made the h1 look better*/
.login-box h1
{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #fff;
    margin-bottom: 50px;
    padding:13px 0;

}
/*Style the img */
.login-box img {
 width: 45%;
 height: 45%;
 float: right;
}
/*Style the div textbox with postion*/
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #fff;
}
/*styling the imput from the user*/
.textbox input
{
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 18px;
}
/*Style the a tag so it looks more cool*/
    .textbox a {
        text-decoration: none !important;
        color: #009688;
    }
        .textbox a:hover {
            color: #009688;
            text-decoration:none !important;
            cursor: pointer;
        }
/*Login button styled with "transparent" background*/
#LoginButton {
    width: 100%;
    background: #009688;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
}
/*Position the contact div*/
.contact-container {
    color: #fff;
    width: 100%;
}
/*Made the h1 tags center so its not on the left*/
.contact-container h1 {
    text-align: center;
}
/*Font changes to the employeetext*/
.employeetxt {
    font-weight: bold;
    font-size: 18px;
}
/*Position the div so that the 2 divs are next to one another*/
.contact-opening {
    width: 55%;
    height: 210px;
    float: left;
}
/*Postion this to div to contact-opening so they are side by side*/
.contacts {
    margin-left: 55%;
    height: 210px;
}
/*Style the contact info div, so both contacts and contact-opening fit inside*/
.contact-info {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 5px;
}
/*Style the text input*/
.CheckoutText {
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}
/*Styled the label text to its white and more font size*/
.CheckoutPayment label {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
/*Added styling to the button so its the same colour as the other buttons and width*/
.Checkoutbutton {
    width: 20%;
    background: #009688;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
}
/*The div is moved to the center*/
.CheckoutPayment
{
    margin-left: 810px;
}
.Mypage-content p
{
    margin-top: 70px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.Mypage-content img
{
    float:right;
    width: 20%;
    height: 20%;
}


