body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(assets/pizzafront.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.MainPageContent {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

    .MainPageContent h1 {
        font-size: 70px;
        margin-top: 80px;
    }

    .MainPageContent p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
    }

.button {
    font: bold 11px Arial;
    text-decoration: none !important;
    background-color: #009688;
    color: #fff;
    padding: 6px 18px 6px 18px;
    border-top: 10px solid #009688;
    border-right: 10px solid #009688;
    border-bottom: 10px solid #009688;
    border-left: 10px solid #009688;
    border-radius: 10px;
}
.button:hover
{
    color:#fff;
    text-decoration:none;
   
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 240px;
    cursor: pointer;
}

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }

        .navbar ul li a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
        }

        .navbar ul li::after {
            content: '';
            height: 3px;
            width: 0;
            background: #009688;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }

        .navbar ul li:hover::after {
            width: 100%;
        }
.TopHeader {
    background-color: darkgray;
    text-align: center;
    color: lightgray;
}

.LoginFieldset {
    background-color: orangered;
    text-align: center;
    height: 200px;
    width: 50%;
}

.MenuTitle {
    text-align: center;
    background-color: wheat;
    color: gray;
}

#MenuGrid {
    background-color: white;
    margin-left: 0px;
    margin-top: 0px;
}

#ToppingGrid {
    background-color: white;
    float: right;
    position: relative;
    top: -397px;
    left: -388px;
    width: 371px;
    height: 321px;
}

.Menucontent {
    height: 611px;
    width: 1538px;
}

#delBtn {
    text-decoration: none !important;
    border-radius: 30px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}

#grid {
    background-color: white;
}

#chkBtn {
    text-decoration: none !important;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}

.grid {
    display: grid;
    text-align: center;
    align-content: center;
    background-color: rgb(33, 37, 41);
}
