body {
    background-image: url(assets/pizzafront.png);
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.BackgroundImage {
    background: url(assets/pizzafront.png) top center fixed no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.TopHeader {
    background-color: darkgray;
    text-align: center;
    color: lightgray;
}

.LoginFieldset {
    background-color: orangered;
    text-align: center;
    height: 200px;
    width: 50%;
}

.MenuTitle {
    text-align: center;
    background-color: wheat;
    color: gray;
}

#MenuGrid {
    background-color: white;
    margin-left: 0px;
    margin-top: 0px;
}

#ToppingGrid {
    background-color: white;
    float: right;
    position: relative;
    top: -397px;
    left: -388px;
    width: 371px;
    height: 321px;
}

.Menucontent {
    height: 611px;
    width: 1538px;
}

#delBtn {
    text-decoration: none !important;
    border-radius: 30px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}

#grid {
    background-color: white;
}

#chkBtn {
    text-decoration: none !important;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}

.grid {
    display: grid;
    text-align: center;
    align-content: center;
    background-color: rgb(33, 37, 41);
}

.MainPageContent {
    background-color:burlywood;
    border-radius: 20px;
    height:105%;
    width: 50%;
    color: black;
    position:relative;
    top: 201px;
    left: 3px;
}
.MainPageContent h3{
    text-align:center;
}
.MainPageBtn {
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 600;
}
